@charset "utf-8";


/* detail_setting */
xmp{ margin:0; padding: 0; }

.tView{ width:55%; position:relative; top:30px; border:none;}
.tCode{ position: absolute; right: 0; width: 45%; top: 30px;}
.btn_view{ position: fixed; bottom: 12px; right: 46%; width: 88px; height: 22px; line-height: 22px; padding:7px 15px; background: #e4f6e4; border:#c1dfc1 1px solid; text-align: center; z-index: 99; border-radius: 5px; -webkit-border-radius: 5px;}
.btn_copy{ position: fixed; bottom: 60px; right: 46%; width: 88px; height: 22px; line-height: 22px; padding:7px 15px; background: #e4f6e4; border:#c1dfc1 1px solid; text-align: center; z-index: 99; border-radius: 5px; -webkit-border-radius: 5px;}
.vBtn:hover,.vBtn.on{ background-color: #5cb85c; color: #fff;}
.mAlert{ position:fixed; bottom:120px; right: 47%; width:95px; height:20px; line-height:20px; font-size:10px; background:#5cb85c; color: #fff; text-align:center; border-radius: 4px; opacity:0;}
body .cke_chrome{ border:none; border-left: #ddd 1px solid;}


.preTxt{ padding: 20px; font-family: 微软雅黑; font-size: 14px; line-height: 24px;}