@charset "utf-8";
.mainTtl{ width: 870px; padding: 0 15px; margin:20px auto; height: 60px; line-height: 60px; font-style: 30px; font-size: 18px; font-weight: bold; background-color: #f9f9f9;}
.mainTtl a{ float: right; font-size: 12px; color: #999; margin-right: 30px; cursor: pointer;}
.main{ width: 900px; margin:20px auto; overflow: hidden; background-color: #f9f9f9; position: relative;}
.main em{ font-style: normal;}
.mLeft{ position:absolute; top: 30px; left: 50%; margin-left: -450px; width: 200px;}
.mLeft ol a{ display: block; padding: 12px 25px; border-bottom: #e5e5e5 1px solid; font-size:16px; color: #5668a4;}
.mLeft ol a:hover{ color: red; }
.mLeft ul{ padding: 30px 20px 0; }
.mLeft ul h6{ margin-bottom: 6px; font-weight: bold; color: #666;}
.mLeft ul a{ display: block; width: 138px; text-align: center; padding:0 10px; border:#c3d9a5 1px solid; background-color: #e7f2d9; margin-bottom: 6px;}

.mRight{ width: 640px; padding:30px 30px 20px 230px;}
.mRight .section{ position: relative; }
.mRight s{ font-family: arial; font-size: 12px; text-decoration: none; margin-right: 2px; text-shadow:1px 1px #fff; color: #777;}
.mRight .key s{ font-size: 16px; font-weight: normal;}
.mRight .key0{ position: absolute; top: -47px; right: 5px; padding: 0 5px; height: 18px; line-height: 18px; background: #f8f8f8; border:dashed#5668a4 1px; color:#5668a4; cursor: pointer;}
.mRight ol{ margin-bottom: 10px; font-size: 13px; line-height: 21px; color: #666; }
.mRight .key{ display: block; font-size:16px; font-weight: bold; height: 40px; line-height: 40px; padding-left: 25px; border-bottom: #ecf1e7 6px solid; margin-bottom: 10px; color: #333; position: relative; background: url(../css/imgs/icon145_2.png) no-repeat 5px center;}
.mRight .key:after{ content:'以下展开'; position: absolute; top: 0; right: 0; width: 60px; height: 40px; line-height: 40px; text-align: center; font-size: 10px; font-weight: normal; color:#999;}
.mRight .key:hover:after{ color:red; }
.mRight .drop .key:after{ content:'以下收起';}
.mRight .unit2{ display: none; padding:0 0 15px 20px;}
.mRight .open .unit2{ display: block; }
.mRight h4{ font-size:14px; height: 24px; line-height: 24px; padding-left: 15px; color: #333; margin-bottom: 5px;}
.mRight .key2{ position: relative; display: block; font-size:14px; height: 30px; margin-left: 15px; line-height: 30px; margin-bottom: 10px; color: #333; background:#ecf1e7 url(imgs/ar_up.png) no-repeat 598px center; background-size: 12px; padding-left: 23px;}
.mRight .key2:after{ content: ''; position: absolute; top: 12px; left: 8px; width: 6px; height: 6px; background: #c3d9a5; }
.mRight .open .key2{ background:#ecf1e7 url(imgs/ar_btm.png) no-repeat 598px center; background-size: 12px;}

.mRight li{ list-style: disc; margin-left: 20px; line-height: 24px;}
.mRight li a.btn{ padding:2px 10px; border:#c1dfc1 1px solid; background-color: #e4f6e4; font-size: 12px;}
.mRight xmp{ font-family: Tahoma; font-size:12px; line-height: 16px; width: 560px; margin:5px auto 10px; padding: 3px 10px; background-color: #fbf7db; color: #888; white-space: pre-wrap; border-radius: 5px;}
.mRight xmp.txt{ line-height: 20px; padding: 5px 10px 10px;}
.mRight xmp.inline{ display: inline; width: auto;}
.mRight i{ display: block; font-size: 14px; color: #5668a4; width: 100%; text-align: center;}

.gotop{ position: fixed; bottom: 30px; right: 30px; width: 40px; height: 40px; background: url(imgs/i_gotop2.png) no-repeat center; background-size: 100%; text-indent: -9999px;}



/*外接文件*/
.txtBody *{ padding: 0; margin: 0;}
.txtBody{ width: 900px; margin: 30px auto; font-family: 微软雅黑; font-size: 13px; line-height: 22px;}
.txtBody h5{ font-size: 14px; line-height: 35px; margin-bottom: 12px; border-bottom: #ddd 1px dashed;}
.txtBody h6{ font-size: 12px; line-height: 30px; margin-bottom: 5px;}
.txtBody ul{ padding-left: 10px; margin-left: 20px;}
.txtBody li{ list-style: disc; color: #666;}
.txtBody .section{ margin-bottom: 30px;}
.txtBody i{ display:block; height: 15px;}
.txtBody pre,.txtBody xmp{ font-family: Tahoma; font-size: 13px; line-height: 22px; padding-left: 20px; border-left: #eee 5px solid; color: #666;}

.preTxt{ padding: 20px; font-family: 微软雅黑; font-size: 14px; line-height: 24px;}

