@charset "utf-8";

.Marticle{ width:998px; background-color:#fff; margin:10px auto 30px;}
.Marticle h1{ height:50px; line-height:50px; padding:0 15px; font-size:17px; font-weight:bold;}

.Mbody{ padding:20px 0 0; font-size:14px; line-height:26px; color:#999;}
.Mbody .section{ margin-bottom:15px;}
.Mbody h3{ height:35px; line-height:35px; padding:0 15px 0 28px; font-size:15px; border-top:1px solid; color:#333; text-shadow:1px 1px 1px #fff; background-image:url(imgs/icon145_1.png); background-size:13px; background-position:8px 11px; position:relative; border-color:#deeace!important; background-color:#ecf1e7; background-repeat: no-repeat;}
.Mbody p{ margin:0 0 10px 0; padding:0 10px;}
.Mbody .btns{ padding:0 10px; margin:10px 0; overflow: hidden;}
.Mbody .btns a{ display:inline-block; float:left; height:30px; line-height:30px; border:#ddd 1px solid; padding:0 12px; margin:3px; background-color:#eee;}
.Mbody a.more{ display:inline-block; width:8px; height:8px; background-color:#cc0000; margin:0 5px; /**/border-radius:4px; -webkit-border-radius:4px;}

.Mbody ol{ margin-bottom: 10px; border:#e5e5e5 1px solid; border-top: none;}
.Mbody ul{ position: relative; background-color:#f8f8f8;}
.Mbody ul:hover{ background-color: #f3f3f3;}
.Mbody .code{ font-family:Consolas; color:#8da76f; padding:5px 85px 5px 5px; border:none; font-size:12px; line-height:22px; border-top: #eee 1px solid; overflow:auto; white-space: pre-wrap;}


.MStyle .des{ font-family: Consolas; font-size: 12px; color: #bbb; line-height: 18px; border-top: #eee 1px solid; padding: 3px 10px; white-space: pre-wrap;}
.MStyle .copy{ position: absolute; top: 6px; right: 5px; height: 20px; line-height: 20px; padding: 0 10px; cursor: pointer; font-size: 12px; text-align: center; border:#c1dfc1 1px solid; background-color: #e4f6e4;}

.mAlert3{ position:absolute; bottom:10px; right: -18%; width:95px; height:20px; line-height:20px; font-size:10px; background:#5cb85c; color: #fff; text-align:center; border-radius: 4px; opacity:0;}

