@charset "utf-8";


/************* reset *************/
body,input,button,textarea,select{ font:12px/1.75 "Microsoft Yahei",arial,Tahoma,sans-serif; color:#333;}
body,div,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,form,input,button,textarea{ padding:0; margin:0;}
ul,ol,li{ list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
input,button,textarea,select{ border:#ddd 1px solid; outline:none;}
textarea{ vertical-align:top;}
img{ border:0; vertical-align:top;}
em{ font-style:normal;} 
a{ text-decoration:none; color:#333;}
a:hover{ color: #e43a3d;}
